html,
body {
    margin: 0;
    padding: 0;
    background: black;
}

div{
  color: white;
  position: relative;
  width: 100%;
  z-index: 1;
}

.fullscreen-section {
  height: 100vh;
}

.section {
  height: 100vh;
}

#three-canvas,
canvas {
  position: fixed;
  inset: 0;
  z-index: -1;
}
