html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

div{
  color: white;
  position: relative;
  width: 100%;
  z-index: 1;
}

.fullscreen-section {
  height: 100vh;
}

#three-canvas,
canvas {
    position: fixed; /* ou absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block; /* remove espaço fantasma */
    z-index: 0;
}
